###Homework: Prashanth Baskar &  Aswin Lakshmanan Sriram

Read hurricanes data from hurricanes.csv into a pandas data frame. 

Find the average number of hurricanes per quarter (spring is jan thru march, summer is april thru june, fall is july through september, winter is october through december) for years nineteen-fifty to nineteen-fiftynine, which includes years nineteen-fifty as well as nineteen-fiftynine, and tabulate them. Also, the standard deviation per quarter.

Also, plot the number of hurricanes per quarter and for all years, and plot standard deviation using intervals on the plot itself.

In [24]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [25]:
#### Read hurricanes data from hurricanes.csv into a pandas data frame.

In [26]:
hurri_df = pd.read_csv('hurricanes.csv')
hurri_df

     year      month  hurricanes
0    1949    January         112
1    1949   February         118
2    1949      March         132
3    1949      April         129
4    1949        May         121
..    ...        ...         ...
139  1960     August         606
140  1960  September         508
141  1960    October         461
142  1960   November         390
143  1960   December         432

[144 rows x 3 columns]

#### Filters the rows of the DataFrame df based on the condition that the values in the 'year' column should be between 1950 and 1959 (inclusive).

In [27]:
hurri_df = hurri_df[hurri_df['year'].between(1950, 1959)]

#### Returns the first 10 rows of the DataFrame df.

In [28]:
hurri_df.head(10)

    year      month  hurricanes
12  1950    January         115
13  1950   February         126
14  1950      March         141
15  1950      April         135
16  1950        May         125
17  1950       June         149
18  1950       July         170
19  1950     August         170
20  1950  September         158
21  1950    October         133

#### The month_to_quarter function maps a month name to a corresponding quarter. It takes a month as input and returns the quarter as a string.

In [29]:
# Define function to map months to quarters
def m_to_q(m):
    if m in ['January', 'February', 'March']:
        return 'Spring'
    elif m in ['April', 'May', 'June']:
        return 'Summer'
    elif m in ['July', 'August', 'September']:
        return 'Fall'
    else:
        return 'Winter'

In [30]:
hurri_df['quarter'] = hurri_df['month'].apply(m_to_q)

/var/folders/zp/_jmj0r7926q2wcy3397w9sv00000gn/T/ipykernel_2622/1631594882.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  hurri_df['quarter'] = hurri_df['month'].apply(m_to_q)

#### Groups the DataFrame df by the 'year' and 'quarter' columns, and then calculates the mean and standard deviation of the 'hurricanes' column for each group.

In [45]:
# Group by year and quarter, then calculate mean and standard deviation
yearly_quarterly_stat = hurri_df.groupby(['year', 'quarter'])['hurricanes'].agg(['mean', 'std']).rename(columns={'mean': 'Average', 'std': 'Standard Deviation'})

In [46]:
yearly_quarterly_stat

                 Average  Standard Deviation
year quarter
1950 Fall     166.000000            6.928203
     Spring   127.333333           13.051181
     Summer   136.333333           12.055428
     Winter   129.000000           13.453624
1951 Fall     194.000000            8.660254
     Spring   157.666667           17.785762
     Summer   171.000000            7.549834
     Winter   158.000000           10.583005
1952 Fall     227.000000           16.703293
     Spring   181.333333           11.060440
     Summer   194.000000           20.808652
     Winter   185.666667           11.930353
1953 Fall     257.666667           18.339393
     Spring   209.333333           23.094011
     Summer   235.666667            7.023769
     Winter   197.333333           15.821926
1954 Fall     284.666667           22.678918
     Spring   209.000000           23.895606
     Summer   241.666667           19.655364
     Winter   220.333333           15.011107
1955 Fall     341.000000           26.514147
     Spring   247.333333           17.616280
     Summer   284.666667           26.274195
     Winter   263.000000           22.605309
1956 Fall     391.000000           31.432467
     Spring   292.666667           21.361960
     Summer   335.000000           33.867388
     Winter   294.333333           20.207259
1957 Fall     445.333333           35.809682
     Spring   324.000000           28.583212
     Summer   375.000000           40.853396
     Winter   329.333333           21.779195
1958 Fall     466.666667           54.720502
     Spring   340.000000           22.000000
     Summer   382.000000           46.508064
     Winter   335.333333           24.542480
1959 Fall     523.333333           52.538874
     Spring   369.333333           33.005050
     Summer   429.333333           38.850139
     Winter   391.333333           25.423087

In [49]:
import matplotlib as plt

plt.figure(figsize=(15, 8))

yearly_quarterly_hurricanes = hurricanes_1950_to_1959.groupby(['year', 'quarter']).sum()['hurricanes'].unstack()
yearly_quarterly_hurricanes.plot(kind='bar', color=['blue', 'orange', 'green', 'red'], alpha=0.7, ax=plt.gca())
plt.title('Number of Hurricanes per Quarter (1950-1959)')
plt.xlabel('Year')
plt.ylabel('Number of Hurricanes')
plt.legend(title='Quarter')

for (year, quarter), row in yearly_quarterly_stats.iterrows():
    year_position = yearly_quarterly_hurricanes.index.get_loc(year)
    quarter_position = yearly_quarterly_hurricanes.columns.get_loc(quarter)
    plt.errorbar(x=year_position + quarter_position/4, y=row['Average'], yerr=row['Standard Deviation'], fmt='o', color='black', capsize=3)

plt.xticks(range(len(yearly_quarterly_hurricanes.index)), yearly_quarterly_hurricanes.index)
plt.show()

TypeError: 'module' object is not callable